body{
  background-color:#4A3F3C;
  font-family:sans-serif;
  color:white;
}
#header{
  color:yellow;
  text-align:center;
}
#game{
  text-align:center;
} 
img{
  width:350px;
  height:215px;
}
#knights{
  color:yellow;
}
#discussion{
  text-algin:center;
}
#info{
  color:#5BC0BE;
}
#back{
  color:grey;
}
