body{
  background-color:#4A3F3C;
}
#header{
  color:yellow;
  text-align:center;
}
h2{
  color:white;
}
h3{
  color:white;
}
h1{
  color:white;
}
#game{
  text-align:center;
} 
img{
  width:350px;
  height:200px;
}
ul{
  color:white;
  background-color:;
}
